<article class="about active" data-page="sobre">
  <header>
    <h2 class="h2 article-title">Sobre mim</h2>
  </header>

  <section class="about-text">
    <p>
      Sou Desenvolvedor Web apaixonado por tecnologia, com experiência em desenvolvimento, manutenção e suporte técnico de sistemas. Gosto de criar soluções práticas e inovadoras que tragam resultados reais.
    </p>
    <p>
      Busco sempre aprender novas tecnologias, aprimorar minhas habilidades e contribuir para o sucesso dos projetos nos quais atuo.
    </p>
  </section>

  <!-- Sessão "O que estou fazendo" -->
  <section class="service">
    <h3 class="h3 service-title">O que estou fazendo</h3>
    <ul class="service-list">
      <li class="service-item">
        <div class="service-icon-box">
          <img src="https://i.postimg.cc/ZqgqrqzG/icon-dev.png" alt="icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Desenvolvimento de Sistemas</h4>
          <p class="service-item-text">
            Desenvolvimento de aplicações modernas, rápidas e responsivas.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img src="https://i.postimg.cc/ZqgqrqzG/icon-dev.png" alt="icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Suporte Técnico</h4>
          <p class="service-item-text">
            Atendimento, manutenção e suporte a sistemas, sempre buscando soluções ágeis.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img src="https://i.postimg.cc/4389jZkP/icon-design.png" alt="icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Automação</h4>
          <p class="service-item-text">
            Desenvolvimento de sistemas autônomos para agilizar processos.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img src="https://i.postimg.cc/0NL8zHpx/icon-photo.png" alt="icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Robótica</h4>
          <p class="service-item-text">
            Experiência com robótica educacional e participações em competições.
          </p>
        </div>
      </li>
    </ul>
  </section>

  <section class="testimonials">
  <h3 class="h3 testimonials-title">Depoimentos</h3>
  <ul class="testimonials-list has-scrollbar">
    <li class="testimonials-item" *ngFor="let t of testimonials">
      <div class="content-card" data-testimonials-item (click)="openModal(t)">
        <figure class="testimonials-avatar-box">
          <img [src]="t.avatar" alt="{{t.name}}" data-testimonials-avatar width="60">
        </figure>
        <h4 class="h4 testimonials-item-title" data-testimonials-title>{{ t.name }}</h4>
        <div class="testimonials-text" data-testimonials-text>
          <p>{{ t.preview }}</p>
        </div>
      </div>
    </li>
  </ul>

  <!-- Modal -->
  <div *ngIf="modalOpen" class="modal-container active" data-modal-container>
    <div class="overlay" data-overlay (click)="closeModal()"></div>
    <section class="testimonials-modal">
      <button class="modal-close-btn" data-modal-close-btn (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </button>
      <div class="modal-img-wrapper">
        <figure class="modal-avatar-box">
          <img [src]="selected.avatar" alt="{{selected.name}}" width="80" data-modal-img>
        </figure>
        <img src="https://i.postimg.cc/mZ00RwX7/icon-quote.png" alt="quote icon">
      </div>
      <div class="modal-content">
        <h4 class="h3 modal-title" data-modal-title>{{ selected.name }}</h4>
        <time [attr.datetime]="selected.dateISO">{{ selected.date }}</time>
        <div class="modal-text" data-modal-text>
          <p>{{ selected.text }}</p>
        </div>
      </div>
    </section>
  </div>
</section>


</article>
