<article class="about active" data-page="sobre">
  <header>
    <h2 class="h2 article-title">Sobre mim</h2>
  </header>

  <section class="about-text">
    <p>
      Sou Desenvolvedor Web apaixonado por tecnologia, com experiência em desenvolvimento, manutenção e suporte técnico de sistemas. Gosto de criar soluções práticas e inovadoras que tragam resultados reais.
    </p>
    <p>
      Busco sempre aprender novas tecnologias, aprimorar minhas habilidades e contribuir para o sucesso dos projetos nos quais atuo.
    </p>
  </section>

  <!-- Sessão "O que estou fazendo" -->
  <section class="service">
    <h3 class="h3 service-title">O que estou fazendo</h3>
    <ul class="service-list">
      <li class="service-item">
        <div class="service-icon-box">
          <img src="https://i.postimg.cc/4389jZkP/icon-design.png" alt="icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Desenvolvimento Web</h4>
          <p class="service-item-text">
            Desenvolvimento de aplicações web modernas, rápidas e responsivas.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img src="https://i.postimg.cc/ZqgqrqzG/icon-dev.png" alt="icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Suporte Técnico</h4>
          <p class="service-item-text">
            Atendimento, manutenção e suporte a sistemas, sempre buscando soluções ágeis.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img src="https://i.postimg.cc/xjLdzYxZ/icon-app.png" alt="icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Apps Mobile</h4>
          <p class="service-item-text">
            Desenvolvimento de apps para Android e iOS.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img src="https://i.postimg.cc/0NL8zHpx/icon-photo.png" alt="icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Automação & Robótica</h4>
          <p class="service-item-text">
            Experiência com robótica educacional e automação de processos.
          </p>
        </div>
      </li>
    </ul>
  </section>
</article>
