<article class="resume" data-page="curriculo">
  <header>
    <h2 class="h2 article-title">Currículo</h2>
  </header>

  <!-- Formação -->
  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box"><ion-icon name="book-outline"></ion-icon></div>
      <h3 class="h3">Formação</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Tecnólogo em Análise e Desenvolvimento de Sistemas</h4>
        <span>2022 - 2025</span>
        <p class="timeline-text">
          Ensino Superior concluido, com foco em programação, engenharia de softwares, manipulação de banco de dados e resolução de problemas computacionais.
        </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Curso Técnico em Mecânica Automotiva</h4>
        <span>2018 - 2021</span>
        <p class="timeline-text">
          Conceitos trabalhados no curso: Comunicação Aplicada; Fundamentos Eletroeletrônicos e Mecânicos Automotivos; Sistemas de Segurança; Sistemas de Gerenciamento Eletrônico; Desenvolvimento de Projeto; Diagnósticos em Sistemas Automotivos;
        </p>
      </li>
    </ol>
  </section>

  <!-- Experiência Profissional -->
  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box"><ion-icon name="briefcase-outline"></ion-icon></div>
      <h3 class="h3">Experiência Profissional</h3>
    </div>
    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Desenvolvedor de Software - BRSOFT</h4>
        <span>04/2025 - Atual</span>
        <p class="timeline-text">
          Desenvolvimento web full stack, manutenção e evolução de sistemas e suporte técnico a clientes.
        </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Analista de Sistemas - S & S Desenvolvimento De Sistemas</h4>
        <span>01/2025 - 04/2025</span>
        <p class="timeline-text">
          Análise de requisitos, documentação técnica, testes e suporte a sistemas corporativos.
        </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Professor de Robótica - Colégio Galle</h4>
        <span>07/2023 - 08/2024</span>
        <p class="timeline-text">
          Ensino de robótica, lógica de programação e desenvolvimento de projetos com alunos do ensino fundamental.
        </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Estagiário Educacional e Instrutor de Robótica - SESI Canaã</h4>
        <span>05/2023 - Atual</span>
        <p class="timeline-text">
          Apoio às atividades pedagógicas e aulas de robótica para crianças e adolescentes.
        </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Estagiário de TI e Instrutor de Robótica - SESI Campinas</h4>
        <span>05/2022 - 05/2023</span>
        <p class="timeline-text">
          Suporte técnico e realização de oficinas de robótica educacional.
        </p>
      </li>
    </ol>
  </section>

  <!-- Habilidades -->
  <section class="skill">
    <h3 class="h3 skills-title">Minhas Habilidades</h3>
    <ul class="skills-list content-card">
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Desenvolvimento Web</h5>
          <data value="90">90%</data>
        </div>
        <div class="skills-progress-bg">
          <div class="skills-progress-fill" style="width: 90%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Lógica de Programação</h5>
          <data value="85">85%</data>
        </div>
        <div class="skills-progress-bg">
          <div class="skills-progress-fill" style="width: 85%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Robótica Educacional</h5>
          <data value="90">90%</data>
        </div>
        <div class="skills-progress-bg">
          <div class="skills-progress-fill" style="width: 90%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Suporte Técnico</h5>
          <data value="75">75%</data>
        </div>
        <div class="skills-progress-bg">
          <div class="skills-progress-fill" style="width: 75%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Comunicação</h5>
          <data value="95">95%</data>
        </div>
        <div class="skills-progress-bg">
          <div class="skills-progress-fill" style="width: 95%;"></div>
        </div>
      </li>
    </ul>
  </section>
</article>
