<main>
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <app-navbar
      [activePage]="activePage"
      (activePageChange)="activePage = $event"
    ></app-navbar>

    <app-about *ngIf="activePage === 'sobre'"></app-about>
    <app-resume *ngIf="activePage === 'curriculo'"></app-resume>
    <app-portfolio *ngIf="activePage === 'portfolio'"></app-portfolio>
    <app-blog *ngIf="activePage === 'blog'"></app-blog>
    <app-contact *ngIf="activePage === 'contato'"></app-contact>
  </div>

  <footer class="app-footer">
  Programado por Gabriel Tuny®
  </footer>

</main>
