<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <button class="navbar-link" [class.active]="activePage === 'sobre'" (click)="setActivePage('sobre')">Sobre</button>
    </li>
    <li class="navbar-item">
      <button class="navbar-link" [class.active]="activePage === 'curriculo'" (click)="setActivePage('curriculo')">Currículo</button>
    </li>
    <li class="navbar-item">
      <button class="navbar-link" [class.active]="activePage === 'portfolio'" (click)="setActivePage('portfolio')">Meus Trabalhos</button>
    </li>
    <li class="navbar-item">
      <button class="navbar-link" [class.active]="activePage === 'blog'" (click)="setActivePage('blog')">Meus Eventos</button>
    </li>
    <li class="navbar-item">
      <button class="navbar-link" [class.active]="activePage === 'contato'" (click)="setActivePage('contato')">Contato</button>
    </li>
  </ul>
</nav>
